html {
    font-family: sans;
    margin: 0;
    background-color: #1E1E1E;
}

body {
}

.main-content {
    padding: .5em;
    margin-top: 2em;
    width: 80%;
    color: black;
    display: block;
    background: lightgoldenrodyellow;
    margin-top: 1em;
}

.navbar {
    overflow: hidden;
    background-color: lightgoldenrodyellow;
    position: sticky;
    top: 0;
    width: 100%;
    margin: auto;
}

.navbar a {
    float: left;
    display: block;
    color: darkgoldenrod;
    text-align: center;
    padding: 1em 1em;
    text-decoration: none;
}

.navbar a:hover {
    background: darkgoldenrod;
    color: whitesmoke;
}

.navbar-align-right {
    float: right !important;
}
